<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-person mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        <a target="_blank" class="font-weight-bold" href="@Url">Open Url</a>
    </span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Url { get; set; }
}
