@page "/"

<h1>GitTracker App</h1>

The GitTracker App allows the users to review their GitHub's repositories

<AlertInline Title="Register an account in order to review your GitHub information." Url="Identity/Account/Register" />
